/* common style*/
body{
    font-family: 'lato', sans-serif ;
 font-family: 'open sans', sans-serif ;
}
.text-p{
    color: #fd6e0a;
}
.b-primary{
    color: #181818;
}
.b-primary{
    border-radius: 4px;
    background: #fd6e0a;
    color: white;
    font-size: 15px;
    font-weight: 700;
    padding:5px ;
    border: o;

}
/* nav style */
nav{
    justify-content: space-between;
    align-items: center;
}
nav{
    display: flex;
    font-family: ;
    margin: 0 200px;
}

.nav-title{
    color: #181818;
    font-family: open sans ;
    font-size: 45px;
    font-style: normal;
    font-weight: 800;
    line-height:normal ;
}
nav > ul{
    display: flex;
    align-items: center;
}
nav li{
    list-style: none;
    margin-right: 50px;
}
nav a{
    text-decoration: none;
    color: 
    #474747;
}

/* header style*/

.header{
    background-color: rgb(247, 236, 222);
    background-image: url(header_bg.png);
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size:400px;
}
.banner {
    padding: 30px 30px 0px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
     
}
.banner .porfolio-photo{
    width: 500px ; 
    background-position: bottom right;

}
.banner-gr{
    font-size: 30px;
    color: #181818;
    margin-bottom: 0;
}
.banner-title{
    font-size: 65px;
    font-weight: 600;
    margin-top: 5px;
}


